.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
    padding: 20px;
    /* thêm khoảng cách để nội dung không dính vào cạnh */
    box-sizing: border-box;
}

.left-banner {
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    gap: 30px;
    width: 50%;
    flex-shrink: 0;
    box-sizing: border-box;
}

.left-banner p {
    width: 100%;
    /* điều chỉnh để chiếm hết chiều rộng có sẵn */
    color: #183B56;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 189.474% */
}

.left-banner>div:last-child {
    display: flex;
    flex-direction: row;
    gap: 23px;
}

.banner-btn {
    border-radius: 8px;
    border-color: #007FFC;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 12px 40px;
    flex-shrink: 0;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.right-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}

.banner_image {
    min-width: 300px;
    height: auto;
    border-radius: 8px;
}

.left-button,
.right-button {
    position: absolute;
    background-color: #16133E;
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    transform: translateY(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.left-button {
    left: -20px;
}

.right-button {
    right: -20px;
}

@media (max-width: 768px) {
    .banner-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .banner-btn {
        border-radius: 8px;
        border-color: #007FFC;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        padding: 12px 40px;
        flex-shrink: 0;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        height: 100%;
        width: 100%;
    }

    .left-banner {
        margin-top: 20px;
        width: 50%;
        text-align: center;
    }

    .left-banner p {
        width: 100%;
    }

    .left-banner>div:last-child {
        flex-direction: column;
        gap: 10px;
    }

    .right-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 50%;
        box-sizing: border-box;
    }

    .banner_image {
        min-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .left-button,
    .right-button {
        position: absolute;
        background-color: #16133E;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        transform: translateY(-50%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    .left-button {
        left: -20px;
    }

    .right-button {
        right: -20px;
    }
}